.assess-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #de93fa, #cbbef8, #dee6f9, #96e3f9); /* purple-500, pink-500, blue-500 */
}
button:hover {
  cursor: pointer;
}
.assess-container {
  max-width: 36rem;
  width: 100%;
}
button{
  background-color: black;
  color: white;
}



.assess-card {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s, box-shadow 0.3s;
}

body.dark-theme .assess-card {
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}